:root {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-y: overlay;
  text-rendering: optimizeLegibility;
}

*:focus-visible {
  outline-color: currentColor;
}

html,
body {
  max-width: 100vw;
}

body {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  leading-trim: both;
  text-edge: cap alphabetic;
  font: inherit;
}

ol[class],
ul[class] {
  list-style: none;
}

p a:hover {
  text-decoration: underline;
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

.dark {
  color-scheme: dark;
}
